@page
@model AboutModel
@{
    ViewData["Title"] = "About Door Server";
}
<h1>Door Server Version 1.0</h1>

<div>
    <p>
        The Door Server project is a server that will allow you to host your own door server for your bbs or create a hosted door server like Door Party. It is a modernized version of
        Rick Parrish's GameSvr project. GameSvr was never fully completed even though it worked. We love the work Rick did and want to modernize the codebase and finish the project.
    </p>

    <p>
        At a minimum Door Server will run a Rlogin server and pass the user through to the door game specified. Future plans include a Rlogin proxy for door server hosts like Door Party
        or other Door Server Hosts, Client generator for various bbs software, a door game repository with automatic configuration and hopefully more.
    </p>

    <p>This content is a place holder during our initial development and will be replaced with server configuration, door configuration, server monitoring and logs.</p>
</div>
