@page
@model IndexModel
@{
    ViewData["Title"] = "Door Server - Console";
}

<div class="container">
    <div class="row">
        <div class="col">Server: <button id="StartStopButton">Rlogin Server</button></div>
        <div class="col"><label id="rloginStatus">Retrieving Status</label></div>
    </div>
</div>



<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ServerManagement.js"></script>
